body {
  height: 100vh;
  margin: 0;
  padding: 0;
  min-width: 400px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  align-items: center;
  padding: 6px;
  height: 60px;
  flex-shrink: 0;
  box-sizing: border-box;
}
a {
  padding: 8px;
  color: #222;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

a > img {
  border-radius: 50%;
}

header > a:first-of-type {
  margin-left: 15px;
}
footer {
  display: flex;
  align-items: center;
  padding: 6px;
  height: 60px;
  flex-shrink: 0;
  box-sizing: border-box;
  background: #f2f2f2;
  color: #70757a;
}

footer > a {
  color: #70757a;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

main > div.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 92px;
  max-height: 290px;
  height: calc(100vh - 560px);
  flex-shrink: 0;
  box-sizing: border-box;
}

main > div > img {
  margin-top: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
}

main > div.search-bar {
  padding: 20px;
  max-height: 160px;
  flex-shrink: 0;
  box-sizing: border-box;
  width: auto;
  margin: 0 auto;
}
.search-bar {
  width: 584px;
  max-width: 584px;
  display: flex;
  align-items: center;
}

.search:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}
.search {
  width: 584px;
  max-width: 584px;
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
}

.space {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.search-icon {
  display: flex;
  padding: 0px 0px 0px 5px;
  height: auto;
  align-items: center;
  align-content: center;
  color: #9aa0a6;
}

.white-space {
  flex-grow: 1;
}
.button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}
#search {
  outline: none;
  flex: 100%;
  background-color: transparent;
  border: none;
}
